@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home {
    height: 50px;
    width: 50px;
}

.head {
    font-size: 20px;
    color: black;
}

.card {
    background-size: solid;
    height: 100vh;
    width: 100vw;
}

.c {
    background-color: #8DD7BF;
}

.full {
    font-size: 30px;
}

.img {
    height: 200px;
    width: 350px;
    padding-left: 30px;
}

.head1 {
    font-size: 20px;
    padding-left: 30px;
    margin-top: 15px;
}
}

.mnr {
    padding-right: 500px;
}

.but {
    background-color: #d98026;
}

.col {
    color: black;
}

.card1 {
    background-color: white;
}